@import '../../styles.scss';

div.slideholder {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 400px;
    min-width: 260px;
    opacity: 0;
    animation: fadein 1s ease-in 0.25s forwards;
    -webkit-animation: fadein 1s ease-in 0.25s forwards;
    -o-animation: fadein 1s ease-in 0.25s forwards;
    -moz-animation: fadein 1s ease-in 0.25s forwards;
    -ms-animation: fadein 1s ease-in 0.25s forwards;
}

div.slide {
    position: absolute;
    transform: scale(0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
}

input.title {
    text-align: center;
    margin-top: 73px;
    font-size: 1.1rem;
    width:89%;
    padding-right: 20px;
    background-color: $color-blue1;
    pointer-events: none;
}


span.date {
    padding: 0;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 5px;
    width: 100%;
    font-size: 1.1rem;
    background-color: $color-grey3;
    color: #d4d4d4;
    pointer-events: none;
    align-items: center;
    .highlight{
        color: white;
        margin-left: 20px;
    }
}

div.dateRow {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-top: 20px;
}

a.link {
    display: flex;
    flex-direction: column;
    align-items: cener;
    justify-content: center;
    margin-top: 20px;
    align-self: flex-end;
    background-color: $color-purple2;
    width: 170px;
    padding: 0;
    cursor: default;
    transition: all 0.5s;
    span {
        font-size: 1.1rem;
    }
}

a.link:hover {
    background-color: rgb(255, 8, 222);
}

span.count {
    margin-left: auto;
    margin-right: -5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    height: 46px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    color: white;
    width: 50px;
}