<div class="view">
    <span>OFO</span>
    <div class="slideholder">
        <div *ngIf="slide === 1" [@inOutAnimation] class="slide">
            <input class="ofo title" placeholder="Was">
            <div class="dateRow">
                <input class="ofo date" placeholder="Termin">
                <input class="ofo time" placeholder="">
                <input class="ofo time" placeholder="">
            </div>
            <div class="dateRow inactive">
                <input class="ofo date" placeholder="Termin">
                <input class="ofo time" placeholder="">
                <input class="ofo time" placeholder="">
            </div>
            <button class="ofo next" (click)="slide = 2">Weiter</button>
        </div>
        <div *ngIf="slide === 2" [@inOutAnimation] class="slide">
            <input class="ofo title" placeholder="Was">
            <div class="dateRow inactive">
                <input class="ofo platform" placeholder="Plattform">
            </div>
            <div class="dateRow inactive">
                <input class="ofo platform" placeholder="Oder...">
            </div>
            <button class="ofo share" (click)="slide = 3">Teilen</button>
        </div>
        <div *ngIf="slide === 3" [@inOutAnimation] class="slide">
            <input class="ofo link" value="https://ofo.de/1wddd24r2" disabled>
            <div class="dateRow inactive">
                <input class="ofo platform" placeholder="Einladung an E-Mail...">
            </div>
            <div class="dateRow inactive">
                <input class="ofo platform" placeholder="Und...">
            </div>
            <button class="ofo send" (click)="slide = 1">Senden</button>
        </div>
    </div>
</div>