@import '../../styles.scss';

// span.appTitle {
//     opacity: 0;
//     animation: fadein 1s ease-in 0s forwards;
//     -webkit-animation: fadein 1s ease-in 0s forwards;
//     -o-animation: fadein 1s ease-in 0s forwards;
//     -moz-animation: fadein 1s ease-in 0s forwards;
//     -ms-animation: fadein 1s ease-in 0s forwards;
// }

div.slideholder {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 400px;
    min-width: 260px;
}

div.slide {
    position: absolute;
    transform: scale(0.8);
    display: flex;
    width: 100%;
    flex-direction: column;
}

input.title {
    margin-top: 73px;
    width: 89%;
    font-size: 1.1rem;
    padding-right: 20px;
    background-color: $color-orange;
}

.inactive {
    input {
        background-color: $color-grey2;
    }
}

input.date {
    padding: 0;
    padding-left: 5px;
    width: 150px;
    background-color: $color-grey3;
}

input.time {
    padding: 0;
    padding-left: 10px;
    width: 80px;
    margin-left: 15px;
    background-color: $color-grey3;
}

button.next {
    margin-top: 20px;
    align-self: flex-end;
    background-color: $color-green1;
    width: 170px;
    transition: background-color 0.25s, color 0.25s, opacity 0.25s;
} :disabled {
    background-color: $color-grey2 !important;
    color: $color-grey3 !important;
    opacity: 0;
}

input.platform {
    width: 100%;
    background-color: $color-grey3;
}

button.ofo {
    margin-top: 20px;
    margin-left: 92px;
    width: 170px;
}

button.share {
    background-color: $color-yellow;
    align-self: flex-end;
    color: black;
    transition: opacity 0.25s;
} :disabled {
    opacity: 0;
}

a.link {
    margin-top: 73px;
    margin-left: 0;
    background-color: $color-purple2;
    width: 100%;
    padding-left: 0px;
    color: #f2f2f2;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: all 0.5s;
    span {
        font-size: 1.2rem;
    }
}

a.link:hover {
    background-color: rgb(255, 8, 222);
}

button.send {
    align-self: flex-end;
    background-color: $color-blue3;
    color: black;
    transition: background-color 0.5s;
}

button.send:hover {
    background-color: rgb(154, 230, 255);
}

div.dateRow {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-top: 20px;
}

div.success{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-green1;
    height: 200px;
    border-radius: 50px;
    img {
        width: 25%;
        height: auto;
    }
}

