<div class="view" [formGroup]="eventForm">
    <span>OFO</span>
    <div class="slideholder">
        <div *ngIf="slide === 1" [@inOutAnimation] class="slide">
            <input formControlName="title" class="ofo title" placeholder="Was">
            <div *ngFor="let date of dates.controls; index as i" class="dateRow" [ngClass]="{'inactive' : i == dates.length - 1}">
                <ng-container [formGroup]="date">
                    <input formControlName="date" class="ofo date" type="date">
                    <input formControlName="startTime" class="ofo time" type="time">
                    <input formControlName="endTime" class="ofo time" type="time" (click)="checkForNewDateRow(i)">
                </ng-container>
            </div>
            <button [disabled]="title.invalid || dates.controls[0].invalid" class="ofo next" (click)="next(); slide = 2">Weiter</button>
        </div>
        <div *ngIf="slide === 2" [@inOutAnimation] class="slide">
            <input formControlName="title" class="ofo title" placeholder="Was">
            <div *ngFor="let platform of platforms.controls; index as i" class="dateRow" [ngClass]="{'inactive' : i == platforms.length - 1}">
                <ng-container [formGroup]="platform">
                    <input formControlName="platformName" class="ofo platform" placeholder="Plattform" (click)="checkForNewPlatformRow(i)">
                </ng-container>
            </div>
            <button class="ofo share" [disabled]="platforms.controls[0].invalid" (click)="share(); slide = 3">Teilen</button>
        </div>
        <div *ngIf="slide === 3" [@inOutAnimation] class="slide">
            <input class="ofo link" value="https://ofo.de/1wddd24r2">
            <div class="dateRow inactive">
                <input class="ofo platform" placeholder="Einladung an E-Mail...">
            </div>
            <div class="dateRow inactive">
                <input class="ofo platform" placeholder="Und...">
            </div>
            <button class="ofo send" (click)="slide = 1">Senden</button>
        </div>
    </div>
</div>